:root {
    --accent-green: #3aaf3e;
    --accent-orange: #E6AB39;
    --accent-red: #E63946;
    --light: #F1FAEE;
    --accent-yellow: #F3D250;
    --dark: #1f1f1f;
    --yellow-pale: #f2ecd2;
}

body {
    background-color: var(--yellow-pale);
    color: var(--dark);
    font-family: Roboto;
    box-sizing: border-box;
    letter-spacing: .05em;
    margin: 0 auto;
}

header {
    font-size: 1.3rem;
    text-transform: uppercase;
    background-color: var(--accent-yellow);
    color: var(--accent-red);
    width: 100vw;
    text-align: center;
    margin-bottom: 1em;
}

h1 {
    margin: 0;
    padding: .5em;
}

h4 {
    text-align: center;
    font-size: 1.5rem;
}

main {
    background-color: var(--yellow-pale);
    color: var(--light);
    display: grid; 
    grid: 1fr / 1fr 1fr; 
    height: 50%; 
    place-content: center;
    grid-column-gap: 2em;
}

#playerTeam,
#enemyTeam {
    min-width: 30vw;
    border-radius: 15px;    
}

#playerTeam,
#enemyTeam,
#actions {
    font-size: 2rem;
}

.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    color: var(--dark);
    border-radius: 15px;
    background-color: var(--light);
}

#playerTeam {
    grid-row: 1 / 2;
    grid-column: 1 / 2;    
    justify-self: right;
}

#enemyTeam {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: left;
}

.name {
    text-transform: uppercase;
    margin-bottom: 0;
}

.avatar {
    margin: .5em;
    height: 5em;
}

.health {
    text-transform: capitalize;
}

.dice-container {
    background: var(--accent-yellow);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dice, .placeholder-dice {
    color: var(--accent-red);
    border-radius: 5px;
    height: 5.5vh;
    width: 5.5vh;
    padding: .5em;
    text-align: center;
    align-items: center;
}

.dice {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin: 0;
    justify-self: center;
}

.diceNum {
    margin: 0;
}

#actions { 
    text-align: center;
}

#actions button {
    padding: .5em;
    border: none;
    background-color: var(--accent-red);
    color: var(--yellow-pale);
    margin-top: 1em;
    border-radius: 15px;
}

/* Health bars */

.health {
    font-size: 1.5rem;
    font-weight: normal;
    width: 100%;
    text-align: center;
    color: var(--dark);
    border-radius: 15px;
}

.health b {
    font-weight: bold;
    color:var(--dark);
}

.health-bar-outer {
    background: var(--dark);
    height: 2vh;
    width: 70%;
    margin: 0 5%;
    border-radius: 10px;
    margin-bottom: 2vh;    
}

.health-bar-outer .health-bar-inner {
    background: var(--accent-green);
    height: 100%;
    border-radius: 10px;
}

.health-bar-outer .health-bar-inner.injured {
    background:var(--accent-orange);
}

.health-bar-outer .health-bar-inner.danger {
    background:var(--accent-red);
}

/* Endgame modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    margin: auto;
    padding: 20px;
    width: 50%;
    letter-spacing: 0;
    font-size: 2rem;
    font-weight: 800;
    color: var(--light);
    display: flex;
    justify-content: center;
}
  
.modal button {
    font-size: 1rem;
    display: block;
    margin: auto;
    margin-top: 1em;
    padding: .5em;
    background-color: var(--accent-red);
    color: var(--light);
    text-transform: uppercase;
    font-weight: 800;
    border: none;
    border-radius: 5px;
}

/* Resizing queries for mobile */

@media (max-width: 1200px) {
    .avatar {
        height: 4em;
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .avatar {
        height: 4em;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .avatar {
        height: 3em;
        margin: 0;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
    main {
        grid: 1fr 1fr / 1fr;
        place-content: center;
        grid-row-gap: 2em;
        font-size: .5rem;
    }
    
    #playerTeam {
        justify-self: center;
    }

    #enemyTeam {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        justify-self: center;
    }

    .name {
        font-size: 1.1rem;
    }

    .health {
        font-size: 1.1rem;
    }

    .health-bar-outer {
        height: 1vh;
        margin-top: 1vh;
    }

    .dice-container {
        justify-content: right;
    }

    .dice, .placeholder-dice {
        margin: 0 .1em;
    }
    
    .dice {
        font-size: 2rem;
    }
    
    .diceNum {
        margin: 0;
    }

    #actions button {
        font-size: 1.5rem;
    }

    .modal {
        padding-top: 250px;
    }
}